{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th></th><th>Completed</th>
        <tr>
            <td>{{ todo.id }}</td>
            <td>{{ todo.user_id }}</td>
            <td>{{ todo.description }}</td>
            <td>
                <form method="post" action="{{ url_for('todo_delete', id=todo.id) }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    <input type="hidden" name="current_page" value="/todo">

                </form>
            </td>
            <td>
                <form method="post" action="{{ url_for('todo_complete', id=todo.id) }}">
                    <input type="hidden" name="complete" value="{{ todo.complete }}">
                    <input type="hidden" name="current_page" value="/todo">
                    <button type="submit" class="btn btn-sm"><span class="glyphicon {% if todo.complete == 0%}glyphicon-thumbs-down{% else %}glyphicon glyphicon-thumbs-up{% endif %} glyphicon-white"></span></button>
                </form>
            </td>
            <td>
                <form method="get" target="_blank" action="{{ url_for('todo_json', id=todo.id) }}">
                    <button type="submit" class="btn btn-xs btn-primary">JSON</button>
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}